.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.feature-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #616161;
}

.feature-name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #6335F8;
}

.block>img {
  padding-bottom: 10px;
}