.box-info {
  width: 410px;
  height: 545px;
  background: #FFFFFF;
  border-radius: 15px;
  margin: 0px 80px;
}

.student-img {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin: 15px 15px;
}



.student-class {
  display: block;
}

.information {
  padding: 66px 0px;
}

.student-name {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  text-align: right;
  color: #202020;
}

.student-class {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  color: #8B8B8B;
}
.student-form{
  display:flex
}
