.eva {
  position: relative;
  padding:80px 30px;
  text-align: -webkit-center;
}

.rate {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #212121;
  padding: 35px 0;
}

.opinion {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #424242;
  max-width: 500px;
  min-height: 150px;
  border: 1px solid;
}

.pre {
  position: absolute;
  left: 380px;
  top: 295px;
}

.next {
  position: absolute;
  right: 380px;
  top: 295px;
}

.rates {
  border: none;
  width: 40px;
  height: 40px;
  background: white;

}

.rates:hover {
  cursor: pointer;
}