.feed {
    background-color: #F5F5F5;
    padding: 0px 100px;
    min-height: 100vh;
}

.feed-wrapper {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    margin-top: 40px;
}

.posts{
   width: 60%;
}
.post{
    overflow-y: scroll;
    height: 320px; 
    min-width: 80%;
}