.card{
    width: 267px;
    height: 341px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 10px;
}

.card :nth-child(3){
    color: gray;
}