.write-note {
  width: 500px;
  height: 120px;
  background: #FFFFFF;
  border: 1px solid #F4F7FF;
  box-shadow: 0px 5px 10px rgba(221, 221, 221, 0.25);
  border-radius: 12px;
  padding: 10px 10px;
  text-align: right;
}

.notes {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  text-align: right;
  margin-bottom: 50px;
  color: #0A1045;
}
.teacher-note{
  font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;  
    text-align: right;
    color: #454D5D;
}
.teacher{
  font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    text-align: right;
    color: #454D5D;
}